# Source Files
/src/ @XynoxTheDev @officialpiyush @Anish-Shobith

# Github Files
/.github/ @XynoxTheDev
/LICENSE @XynoxTheDev
/README.md @XynoxTheDev

# Dependency Files
/.gitattributes @XynoxTheDev
/.gitignore @XynoxTheDev